<!DOCTYPE html>
<html>
<head>
    <title>Antonina</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="headline">Hi,<br> I'm Bagrin Antonina</h1>
        <div class="img-wrapper">
        <img src="{{ asset('images/antonina.jpg') }}" alt="Personal image Antonina">
        </div>
        <p class="content">I am a Front-end Developer, specialized in Angular. I really enjoy what I do and I consider that the professional conversion was the best decision I have made so far. I enjoy every opportunity to grow, gain knowledge, and turn code into interactive and engaging experiences for users. </p>
        <p class="content">Apart from work, in my spare time I find my balance and joy in sport and reading. I love doing sports and running outside because it helps me physically and mentally. More than that, with a job where you have to spend many hours in front of the computer, I find these activities very important in everyone's life. Among the traits that define me are:</p>
        <ul class="content">
            <li>Ambition</li>
            <li>Responsability</li>
            <li>Empathy</li>
            <li>Curiosity</li>
        </ul>
    </div>
</body>
</html>