<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina studentului Onea Eduard</title>
    <link rel="stylesheet" href="{{ asset('css/OE_styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ asset('images/OE_image.jpg') }}" alt="Onea Eduard" class="profile-image">
        <div class="content">
            <h1>Onea Eduard</h1>
            <p>Bine ați venit pe această pagină,</p>
            <p>Vă urez o zi minunată și un timp extraordinar în vizualizarea acestei pagini!</p>
            <p>O listă cu numerele mele preferate (nu în ordinea aceasta):</p>
            <ul>
                <li>8 - Opt;</li>
                <li>78 - Șapte zeci și opt;</li>
                <li>26 - Două zeci și șase.</li>
            </ul>
        </div>
    </div>
</body>
</html>