body {
  margin: 0;
  padding: 0;
  background-color: #8c92ac;
}

.page {
  background-color: #e7f2ff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.page img {
  width: 55%;
  float: right;
  margin-left: 5%;
  border-radius: 5%;
}
