body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

 .content-wrap {
   padding: 16px;
   background: rgb(229, 248, 255);

 }


 .content-wrap > img {
    display: block;
    width: 45%;
    float: left;
}


 .content {
    float: left;
    width: 50%;
    padding-left: 20px;
 }

 .content p:first-child {
    margin-top: 0;;
 }

 .clear {
    clear: both;
 }