<!DOCTYPE html>
<html>
<head>
    <title>Octavian Vaideanu</title>
    <link rel="stylesheet" href="{{ asset('styles/octavianVaideanu.css') }}">
</head>
<body>
    <div class="page">
      <h1>Octavian Vaideanu</h1>
      <img src="{{ asset('images/octavian.jpeg') }}" alt="Octavian Vaideanu">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque consectetur posuere. Donec ut mauris ante. Donec tristique sagittis enim a efficitur. In viverra ligula vitae ante luctus tincidunt. Aliquam ac libero feugiat, gravida est non, venenatis ligula. Vestibulum turpis urna, maximus ac tempus elementum, ultrices vitae risus. Pellentesque malesuada tristique consequat. Vestibulum at semper libero. Proin ut tellus arcu. Proin mattis, libero ac condimentum fringilla, tortor nisi interdum risus, in vestibulum libero augue ut felis. Nam elementum leo sed nisl vehicula, ac sagittis neque commodo. Praesent congue, sapien sit amet ornare pretium, dolor eros hendrerit massa, et malesuada mi ante non magna. Integer non ipsum pellentesque, cursus nulla sed, tempus arcu.</p>
      <p>Donec tincidunt, diam ac feugiat rhoncus, lorem eros accumsan nisi, et cursus urna elit nec ante. Morbi dictum quam at tellus convallis, hendrerit semper est ultricies. Maecenas ultricies scelerisque tortor sed cursus. Aenean odio orci, lacinia et consectetur ac, molestie et justo. Vivamus in egestas ipsum. Curabitur id ante ullamcorper enim vehicula varius ac sit amet urna. Sed libero elit, mollis sit amet turpis ac, pulvinar rhoncus ex. Nullam tempor diam in sollicitudin tempor. Quisque malesuada porta magna porta accumsan.</p>
      <p>Cras fringilla finibus risus vitae egestas. Donec vel molestie justo, vitae vestibulum nibh. Morbi eu tellus id magna molestie accumsan vel eget lectus. Pellentesque id leo venenatis, venenatis purus in, condimentum purus. Nulla gravida eget ligula eu dictum. Phasellus mollis, leo id dictum fringilla, metus purus facilisis erat, ac maximus massa turpis quis libero. Donec non dapibus nibh. Maecenas quis nunc et sapien iaculis facilisis. Maecenas rhoncus, neque vulputate hendrerit viverra, dui ipsum egestas erat, eget hendrerit ipsum nisl eget turpis.</p>
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Donec tincidunt</li>
        <li>ras fringilla</li>
        <li>Lorem ipsum dolor</li>
      </ul>`
    </div>
</body>
</html>
