<!DOCTYPE html>
<html>
<head>
    <title>Sergiu Toma</title>
    <link rel="stylesheet" href="{{ asset('styles/sergiu.css')}}">
</head>
<body>
    <div class="content">
        <h1>Toma Sergiu</h1>
        <div class="img-container">
            <img src="{{ asset('images/sergiu_img.jpeg')}}" alt="Personal image">
        </div>

        <p>Sunt Toma Sergiu, și este o bucurie să vă împărtășesc puțin din povestea mea. Cu o experiență de mai mulți ani în domeniul dezvoltării software ca fullstack developer, pasiunea pentru programare m-a călăuzit într-o călătorie captivantă prin lumea tehnologiei.</p>
    
        <p>Încă de mic, am fost fascinat de puzzle-urile logice și de modul în care puteam rezolva probleme prin intermediul calculatoarelor. Această curiozitate m-a condus către programare și m-a îndemnat să explorez domenii precum frontend și backend, îmbinând creativitatea cu logica pentru a da viață ideilor digitale.</p>

        <p>Când nu sunt în fața calculatorului, îmi găsesc liniștea și bucuria alături de Puffy, câinele meu adorabil. Fie că este vorba despre plimbări lungi în natură sau pur și simplu de momente de relaxare acasă, legătura noastră specială aduce un echilibru minunat în viața mea agitată.</p>

        <p>Experiența mea ca fullstack developer m-a învățat nu doar să rezolv probleme tehnice complexe, ci și să colaborez în echipe și să învăț mereu din experiențele mele și ale altora.</p>

        <ul>
            <li>Cunoștințe cuprinzătoare de programare: Proficient în mai multe limbaje de programare utilizate pentru dezvoltarea atât a frontend-ului (partea vizibilă a unei aplicații web) cât și a backend-ului (partea care gestionează logica și datele).</li>

            <li>Competențe în tehnologii de frontend: Acestea includ, dar nu se limitează la, HTML, CSS și JavaScript, împreună cu cunoștințe despre diferite framework-uri și biblioteci, cum ar fi React, Angular si Vue.js, utilizate pentru a crea interfețe de utilizator interactive și atractive.</li>

            <li>Experiență în dezvoltare de backend: Capabil să creeze și să gestioneze servere, să lucreze cu baze de date și să implementeze logica de afaceri. Aceasta implică de obicei utilizarea unor limbaje de programare precum Java, Node.js și a framework-urilor asociate, cum ar fi Spring, Express sau NestJs.</li>

            <li>Cunoștințe de bază despre bazele de date: Un programator full stack înțelege cum să proiecteze și să utilizeze baze de date pentru a stoca și a gestiona datele aplicației. Aceasta poate include lucrul cu baze de date relaționale (cum ar fi MySQL, PostgreSQL) sau cu baze de date NoSQL (cum ar fi MongoDB, Firebase, DynamoDB).</li>

            <li>Abilități de lucru cu serverele și infrastructura: Ca programator full stack are cunoștințe despre cum să configureze și să administreze servere și să utilizeze diverse servicii cloud pentru a implementa și a dezvolta aplicații.</li>

            <li>Capacitatea de a lucra în echipă: Ca programator full stack sunt adesea implicați în toate etapele dezvoltării software, de la planificare și proiectare până la testare și mentenanță. De aceea, este important să aibă abilități bune de comunicare și colaborare pentru a lucra eficient cu alți membri ai echipei.</li>

            <li>Capacitatea de a învăța și a se adapta rapid: Domeniul dezvoltării software este în continuă schimbare, iar noile tehnologii și framework-uri sunt adăugate constant. Un programator full stack trebuie să fie deschis să învețe mereu și să se adapteze rapid la noile cerințe și tendințe tehnologice.</li>
        </ul>
    </div>
</body>
</html>